<mat-card class="mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>{{ product.title }}</mat-card-title>
    <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
  </mat-card-header>

  <mat-divider inset></mat-divider>

  <div class="image-container">
    <img [src]="product.image" />
  </div>

  <mat-divider inset></mat-divider>

  <mat-card-actions>
    <button *ngIf="view === 'products'" mat-button color="primary" (click)="viewProduct(product.id)">VIEW</button>

    <span class="spacer"></span>

    <button
      *ngIf="view === 'products'"
      mat-button
      color="accent"
      [disabled]="(isProductInCart$(product.id) | async) === true"
      (click)="addToCart(product.id)"
    >
      ADD
    </button>

    <button *ngIf="view === 'cart'" mat-button color="warn" (click)="removeFromCart(product.id)">REMOVE</button>
  </mat-card-actions>
</mat-card>
