mat-card {
  width: 84%;
  height: 84%;
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  width: 100%;
  display: block;
}

.mat-card-header-text {
  max-width: 100%;
}

.mat-card-title {
  max-width: 100%;
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 16px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

mat-card-actions {
  display: flex;
}

.mat-card-actions .mat-button {
  margin: 0;
}
